/contracts/out/
/contracts/cache/solidity-files-cache.json
/contracts/lib/
/front/node_modules/
/contracts/cache/
/front/.svelte-kit/
/front/rust-banana-miner/target/release/
/front/rust-banana-miner/target/
